:root{
  --primary-color: #FAFAFA;
  --secondary-color: #FFFFFF;
  --black-color: #000000;
  --gray-color: #757575;
  --button-color: #0052EA;
  --hover-color: #007bff;
  --border-color: #E0E0E0;
  --dark-color: #94979c;

}

.app {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.salary-form,
.salary-summary {
  flex: 1;
}