.salary-form {
  position: relative;
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 8px;
  background-color: var(--primary-color);
  margin: 20px 0;
  max-width: 680px;
}

.salary-form h1 {
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--black-color);
}

.salary-form label h2 {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.salary-form input[type="number"],
.salary-form input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.salary-form input[type="checkbox"] {
  margin-bottom: 15px;
}

.earnings,
.deductions {
  margin-top: 20px;
}

.earnings h2,
.deductions h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.earning-item,
.deduction-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.earning-item input,
.deduction-item input {
  flex: 1;
  margin-right: 10px;
}

.description {
  font-size: 12px;
  color: var(--gray-color);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
  margin: 20px 0;
}

.reset-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  color: var(--button-color);
  cursor: pointer;
}

.reset-button:hover {
  color: var(--hover-color);
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border: none;
  border-radius: 50%;
  margin: 5px 10px 15px 0;
}

.delete-button:hover {
  background-color: var(--dark-color);
}

.add-button {
  color: var(--button-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.add-button:hover {
  color: var(--hover-color);
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
  .salary-form {
    max-width: 90%;
    padding: 15px;
  }

  .salary-form h1 {
    font-size: 18px;
  }

  .salary-form label h2 {
    font-size: 14px;
  }

  .earning-item input,
  .deduction-item input {
    width: calc(50% - 5px);
  }
}
